@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-bg-color: rgba(16, 18, 27, 0.4);
  --theme-bg-color-hover: rgba(16, 18, 27, 0.8);
  --theme-color: #f9fafb;
  --body-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  background-color: rgb(191, 126, 5);
  background-image: url(./img/absol.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

header {
  background-color: var(--theme-bg-color);
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: ridge 2px var(--theme-color);
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: var(--theme-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 20px 0 5px 0;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: none;
}

button:hover {
  background-color: var(--theme-bg-color-hover);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  width: 450px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.pokemon-card:hover {
  background-color: var(--theme-bg-color-hover);
}

/* Estilos header*/
.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}

.pokemon-header span {
  width: 10%;
  font-size: 1.8em;
}

.pokemon-header h2 {
  width: 55%;
  text-align: center;
  font-size: 1.8em;
  text-transform: capitalize;
}

.pokemon-types {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.pokemon-types img {
  max-height: 100%;
  margin-left: 3px;
  border-radius: 4px;
}

/* estilos imagen chart */
.pokemon-img-chart-container {
  display: flex;
  justify-content: space-between;
  height: 65%;
}

.pokemon-img-container {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img-container img {
  max-height: 100%;
  max-width: 100%;
}

.pokemon-chart-container {
  width: 49%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilos habilidad y naturaleza */
.pokemon-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
}

.pokemon-info-container span {
  width: 49%;
  font-size: 1.3em;
}

/* Estilos para movimientos */
.pokemon-moves {
  display: flex;
  flex-wrap: wrap;
  height: 14%;
  justify-content: space-between;
  align-items: center;
}

.pokemon-move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 49%;
}

.pokemon-move img {
  max-height: 80%;
  margin-left: 2px;
}

.pokemon-move span {
  flex: 1;
  font-size: 1.3em;
}

/* Fin estilos card inicio de estilos adicionales*/

.icon-shiny {
  animation: shiny-icon 2s ease infinite;
}

@keyframes shiny-icon {
  0% {
    filter: invert(0%);
  }
  50% {
    filter: invert(100%);
  }
  100% {
    filter: invert(0%);
  }
}

@media (max-width: 470px) {
  .background-image {
    background-image: url(./img/absol-android.jpg);
  }

  h1 {
    font-size: 3em;
  }

  .pokemon-card {
    height: 400px;
    width: 300px;
  }

  .pokemon-types {
    height: 80%;
  }

  /* estilos imagen chart */
  .pokemon-img-chart-container {
    display: flex;
    justify-content: center;
    height: 50%;
    position: relative;
  }

  .pokemon-img-container {
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -10;
    width: 25%;
  }

  .pokemon-chart-container {
    width: 100%;
    height: 100%;
  }

  /* estilos habilidad y naturaleza */
  .pokemon-info-container {
    justify-content: center;
    flex-wrap: wrap;
    height: 14%;
  }

  .pokemon-info-container span {
    /* background-color: aqua; */
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para movimientos */
  .pokemon-moves {
    height: 28%;
    justify-content: center;
  }

  .pokemon-move {
    justify-content: center;
    height: 25%;
    width: 80%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container img {
  max-width: 50%;
  max-height: 50%;
}

.loader {
  -webkit-animation: 1s rotate linear infinite;
  animation: 1s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
