* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --theme-color: #f9fafb;
  --body-font: "Poppins", sans-serif;
}

body {
  background: url(../img/rayquaza.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  width: 420px;
  height: 320px;
  margin: 5px;
  padding: 10px;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* estilos header */
.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}

.pokemon-header span {
  width: 10%;
  font-size: 1.8em;
}

.pokemon-header h2 {
  width: 55%;
  text-align: center;
  font-size: 1.8em;
}

.pokemon-types {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.pokemon-types img {
  max-height: 100%;
  margin-left: 3px;
  border-radius: 4px;
}

/* estilos imagen chart */
.pokemon-img-chart-container {
  display: flex;
  justify-content: space-between;
  height: 65%;
}

.pokemon-img-container {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img-container img {
  max-height: 100%;
  max-width: 100%;
}

.pokemon-chart-container {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilos habilidad y naturaleza */
.pokemon-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
}

.pokemon-info-container span {
  width: 49%;
  font-size: 1.3em;
}

/* Estilos para movimientos */
.pokemon-moves {
  display: flex;
  flex-wrap: wrap;
  height: 14%;
  justify-content: space-between;
  align-items: center;
}

.pokemon-move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 49%;
}

.pokemon-move img {
  max-height: 80%;
  margin-left: 2px;
}

.pokemon-move span {
  flex: 1;
  font-size: 1.3em;
}
